<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SiteSuite">

    <test name="SiteLoginTest">
        <groups>
            <run>
                <exclude name="pageTests"/>
            </run>
        </groups>
        <classes>
            <class name="ru.raiffeisen.AppTest"/>
        </classes>
    </test>

    <test name="pageTests" parallel="methods" thread-count="5">

        <groups>
            <run>
                <include name="pageTests"/>
            </run>
        </groups>

        <classes>
            <class name="ru.raiffeisen.AppTest"/>
        </classes>
    </test>

</suite>